lab07/WcfClient/Connected Services/WcfService/MyCalculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="iAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iSubResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iMulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDiv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDivResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iDivResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iModResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n1" type="xs:int" />
        <xs:element minOccurs="0" name="n2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HMultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HMultResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>